server:
  error:
    include-message: always
    include-binding-errors: always

planner:
  security:
    jwt:
      secret: wihWiJiawVCiVGE7fX33X4Y5GHZ6CYBBA0gqaynUcm7NRulVHmj9tcTQhZvTQ5ko
      access-expire-in: 10m
      refresh-expire-in: 3d
    admins:
      adminName:
        email: <email>
        password: <password>
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/testplan1605
    driver-class-name: org.postgresql.Driver
    username: <username>
    password: <password>
  jpa:
    open-in-view: false
  mail:
    host: smtp.gmail.com
    password: <password>
    username: <email@gmail.com>
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoint:
    health:
      show-details: when_authorized


